@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #aa3bff;
  --color-bg: #f8fafc;
  --color-card: #ffffff;
  --color-text: #334155;
  --color-border: #e2e8f0;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  font-family: Inter, system-ui, -apple-system, sans-serif;
}
